python == 3.8

CUDA toolkit == 11

numpy >= 1.21.2

scipy >= 1.8.0

h5py >= 3.6.0

torch >= 1.10

torchvision >= 0.12.0

torchaudio  >= 0.11.0

timm >= 0.5.4

matplotlib >= 3.5.1

einops >= 0.4.1

thop >= 0.0.31

pyyaml >= 6.0

loris >= 0.5.3

pandas >= 1.4.2

tonic 

xlrd == 1.2.0

scikit-learn

seaborn

pygame

dv

tensorboard

gym

atari-py

opencv-python

tianshou